html {
  height: 100%;
  --u: 8px;
  --gap: calc(2*var(--u));
  --bl: calc(40*var(--u));
  --col: calc(50*var(--u));
}

body {
  font-family: Ubuntu, roboto, noto, segoe ui, futura, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
  font-size: calc(3*var(--u));
  color: #302525;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: 0;
}

body > * {
  width: calc(var(--col));
  margin-left: calc(2*var(--u));
  margin-right: calc(2*var(--u));
}

.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  color: #302525;
  /*! font-weight: bold; */
}

a:visited {
  color: #252528;
}

footer {
  padding: var(--gap);
  font-size: 0.8em;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

.time-stamp {
  margin-top: var(--gap);
  font-size: 0.6em;
  text-align: right;
}

.entry-meta {
  color: hsl(341, 10%, 20%);
  /*! font-weight: bold; */
}

.media-caption {
  flex-grow: 1;
  font-size: larger;
  margin-top: calc(3*var(--u));
  font-weight: normal;
}

.pane video {
  border-left: 1px solid hsla(30, 14%, 67%, 0.5);
  box-shadow: 2px 2px hsla(30, 5%, 0%, 0.3);
  width: 100%;
}

.media-list {
  padding: 0;
  margin: 0;
}

.media-list .pane {
  box-sizing: border-box;
  margin-bottom: calc(3*var(--u));
  background-color: hsla(0, 70%, 16.7%, 0.05);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.pane img {
  width: var(--bl);
  max-width: 100%;
  height: auto;
  image-orientation: from-image;
  object-fit: contain;
}

.episode-player {
  width: var(--bl);
  max-width: 100%;
  margin-bottom: calc(3*var(--u));
}

.media-list .pane h4:first-child {
  margin-top: 0;
}

.media-list li {
  margin-bottom: calc(3*var(--u));
}

.media-list h3 {
  font-weight: 200;
}

.media-list h4 {
  font-weight: 200;
  margin-bottom: var(--u);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header img {
  width: var(--bl);
  height: var(--bl);
  border-radius: var(--u);
}

header h1 {
  font-size: 4em;
  flex-grow: 1;
  margin: 0;
  margin-left: calc(2*var(--u));
  width: 50%;
}

.podcast-summary {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.middle {
  flex-grow: 1;
}

.listening-directions {
  margin-top: calc(3*var(--u));
  padding: calc(3*var(--u));
  border-radius: 0.25em;
  border: hsla(0, 80%, 66%, 0.8) 3px solid;
}

.platform-directions {
}

.separator {
  width: 50%;
  border: none;
  border-top-style: solid;
  border-top-color: #302525;
  border-top-width: 1px;
}

.text-caption {
}

.episode-title {
  font-size: 1.5em;
  margin-bottom: calc(3*var(--u));
}

.findings-list {
  margin-top: calc(3*var(--u));
}

.finding-links {
  margin-top: var(--u);
}

@media all and (max-width: 586px) {
  body {
    font-size: calc(1.5*var(--u));
  }

  header h1 {
    font-size: 3em;
    margin-left: 0;
    text-align: center;
  }
}
