html {
  height: 100%;
  --u: 8px;
  --gap: calc(2*var(--u));
  --bl: calc(40*var(--u));
  --col: calc(50*var(--u));
  --lc: #302525;
  --bgc: hsla(0, 70%, 16.7%, 0.05);
}

body {
  font-family: Ubuntu, roboto, noto, segoe ui, futura, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
  font-size: calc(3*var(--u));
  color: var(--lc);
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: 0;
  margin-top: var(--gap);
  gap: var(--gap);
}

body > * {
  width: calc(var(--col));
}

.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:link {
  color: var(--lc);
  font-weight: 500;
}

a:visited {
  color: #252528;
}

footer {
  padding: var(--gap);
  border: 1px solid var(--bgc);
  border-radius: var(--u);
}

ul {
  list-style-type: none;
  margin-left: 0;
}

.time-stamp {
  margin-top: var(--gap);
  font-size: 0.75em;
  text-align: right;
}

.entry-meta {
  color: hsl(341, 10%, 20%);
  /*! font-weight: bold; */
}

.media-caption {
  flex-grow: 1;
  font-size: larger;
  margin-top: calc(3*var(--u));
  font-weight: normal;
}

.pane video {
  border-left: 1px solid hsla(30, 14%, 67%, 0.5);
  box-shadow: 2px 2px hsla(30, 5%, 0%, 0.3);
  width: 100%;
}

.media-list {
  padding: 0;
  margin: 0;
}

.media-list .pane {
  box-sizing: border-box;
  margin-bottom: calc(3*var(--u));
  background-color: var(--bgc);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  border-radius: var(--u);
}

.pane img {
  border-radius: var(--u) var(--u) 0 0;
  width: var(--bl);
  max-width: 100%;
  height: auto;
  image-orientation: from-image;
  object-fit: contain;
}

.episode-player {
  border-radius: 0 0 var(--u) var(--u);
  width: var(--bl);
  max-width: 100%;
  margin-bottom: calc(2*var(--gap));
}

.pane a:link {
}
.media-list .pane h4:first-child {
  margin-top: 0;
}

.media-list li {
  margin-bottom: calc(2*var(--gap));
}

.media-list h3 {
  font-weight: 200;
}

.media-list h4 {
  font-weight: 200;
  margin-bottom: var(--u);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: var(--gap);
  margin-left: var(--gap);
}

header img {
  width: 100%;
  border-radius: var(--u);
}

header h1 {
  font-size: 4em;
  flex-grow: 1;
  margin: 0;
}

.podcast-summary {
  margin-top: var(--gap);
}

.middle {
  flex-grow: 1;
}

.middle h2:first-child {
  margin-top: 0;
}

.listening-directions {
  margin-top: calc(3*var(--u));
  padding: calc(3*var(--u));
  border-radius: var(--u);
  border: hsla(0, 80%, 66%, 0.8) 3px solid;
  font-weight: bold;
}

.listening-directions a:link {
  color: hsl(0, 80%, 55%);
}

.platform-directions {
  margin-top: var(--gap);
}

.separator {
  width: 50%;
  border: none;
  border-top-style: solid;
  border-top-color: var(--lc);
  border-top-width: 1px;
}

.text-caption {
}

.episode-title {
  font-size: 1.5em;
  margin-bottom: calc(3*var(--u));
}

.findings-list {
  padding: 1em;
}

.findings-list li {
  margin-top: calc(1*var(--gap));
  margin-bottom: calc(1*var(--gap));
}

.finding-links {
  margin-top: var(--u);
}

.recs-root dt {
  margin-bottom: var(--gap);
  margin-top: var(--gap);
}

@media all and (max-width: 586px) {
  body {
    font-size: calc(1.5*var(--u));
    margin-top: 0;
  }

  header {
    margin-left: 0;
  }

  header h1 {
    font-size: 3em;
    margin-left: 0;
    text-align: center;
  }
}
