<p>A roundup of small bits of information that I've collected, processed, and put away each week. Findings topics are often mundane (like pizza dough) or weird (like shark attacks in 1916).</p>
<p>
Point your podcast app at <a href="rss.xml">the RSS feed</a> to listen!</p>
<p>Coming soon: Ways to listen on other podcast platforms, and ways to just listen here on this web site.</p>
