<html>
  <head>
    <title>Small Findings</title>
    <link rel="stylesheet" href="app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:url" content="https://jimkang.com/smallfindings" />
    <meta property="og:title" content="Small Findings" />
    <meta
      property="og:description"
      content="A podcast containing small bits of information that I've collected recently."
    />
    <meta property="og:site_name" content="Small Findings" />
  </head>
  <body class="centered-col">
    <header>
      <img src="media/small-findings-wily-square.jpg" alt="Dr. Wily, a cat" />
      <h1>Small Findings</h1>
    </header>

    <section class="middle">
      <div class="podcast-summary">
        A podcast that rounds up of small bits of information that I've
        collected and processed each week. Findings are mundane (like what flour
        mix to use in pizza dough) or weird (like shark attacks in 1916).
      </div>
      <div class="listening-directions">
        Point your podcast app at the <a href="rss.xml">RSS feed</a> to listen!
      </div>
      <br>
      <div class="platform-directions">
        If you prefer to listen to this podcast via a specific platform, you can hear it at:
        <ul class="platform-list">
          <li><a href="https://pca.st/qjxp9xu3">Pocket Casts</a></li>
          <li><a href="https://www.breaker.audio/small-findings-1/">Breaker</a></li>
          <li><a href="https://radiopublic.com/small-findings-6BwVXa">Radio Public</a></li>
        </ul>
      </div>

      <h2>Episodes</h2>


      <section class="media">
        <ul class="media-list centered-col">
          {%- for episode in collections.episodes -%}
          <li class="pane">
            <div class="episode-title">
              <a href="episodes/{{ episode.data.slug }}">{{ episode.data.title }}</a>
            </div>
            <img src="media/{{ episode.data.imageFilename }}" alt="Episode image" />
            <audio
              class="episode-player"
              controls=""
              loop="true"
              preload="metadata"
              src="episodes/smallfindings-{{ episode.data.number }}-{{ episode.data.slug }}.mp3"
            ></audio>
            <div class="text-caption">
              {{ episode.data.summary }}
              <!-- TODO: Break links out into their own field. -->
            </div>
            <div class="time-stamp entry-meta">
              <time datetime="{{ episode.data.date }}">{{ episode.data.date }}</time>
            </div>
          </li>
          {%- endfor -%}
        </ul>
      </section>
    </section>

    <hr class="separator" />

    <footer id="footer">
      <div>
        Comments? Findings to share? Email them to
        <a href="mailto:smallfindings@fastmail.com"
          >smallfindings@fastmail.com</a
        >!
      </div>
      <br />
      <div>
        This site (and podcast feed) is built via
        <a href="https://www.11ty.dev/">Eleventy</a>. <br /><br />
        More podcasts to listen to:
        <ul>
          <li>
            <a href="https://www.idlethumbs.net/idlethumbs/">Idle Thumbs</a>
            (It's over but still amazing.)
          </li>
          <li>
            <a href="https://www.nytimes.com/column/the-daily">The Daily</a>
            (It's basic but actually good.)
          </li>
          <li>
            <a href="https://www.earhustlesq.com/">Ear Hustle</a> (The rare
            genuinely unique perspective.)
          </li>
          <li>
            <a href="https://memex.naughtons.org"
              >John Naughton's online diary</a
            >
            (The audio is interspersed among blog posts)
          </li>
          <li>
            <a href="https://www.talkingpoliticspodcast.com/"
              >Talking Politics</a
            >
            (It's <em>not</em> a bunch of yelling.)
          </li>
        </ul>
      </div>
      <a href="https://jimkang.com">jimkang.com</a>
    </footer>
  </body>
</html>
