<html>
  <head>
    <title>Small Findings</title>
    <link rel="stylesheet" href="/smallfindings/app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:site_name" content="Small Findings" />
    {% set latestEpisodeStuff = stuff %}
    {% include 'latest-episode-unfurl.njk' %}
  </head>
  <body>
    <header>
      <a href="/smallfindings/">
        <img src="/smallfindings/media/small-findings-wily-square.jpg" alt="Dr. Wily, a cat" />
        <h1>Small Findings</h1>
      </a>
      <div class="listening-directions">
        Point your podcast app at the <a href="/smallfindings/rss.xml">RSS feed</a> to listen!
      </div>
    </header>

    <section class="middle">
      {{ content | safe }}
    </section>

    <footer id="footer">
      <div>
        Comments? Findings to share? Email them to
        <a href="mailto:smallfindings@fastmail.com"
          >smallfindings@fastmail.com</a
        >!
      </div>
      <br />
      <div>
        This site (and podcast feed) is built via
        <a href="https://www.11ty.dev/">Eleventy</a>. <br /><br />
        More podcasts to listen to:
        {% include 'recs-pane-podcast.njk' %}
      </div>
      <br />
      My homepage: <a href="https://jimkang.com">jimkang.com</a>
    </footer>
  </body>
</html>
