    <meta property="og:image" content="https://jimkang.com/smallfindings/media/{{latestEpisodeStuff.imageFilename}}" />
    <meta property="og:audio" content="https://jimkang.com/smallfindings/episodes/smallfindings-{{ latestEpisodeStuff.number }}-{{ latestEpisodeStuff.slug }}.mp3" />
