---
date: 2020-11-19
stuff:
  title: >
    Episode 11: 100,000 Hot Dogs
  slug: 100000-hot-dogs
  season: 1
  number: 11
  date: 2020-11-19
  imageFilename: the-other-side.jpg
  findings:
    -
      text: A book podcast I'm doing with some friends
      links:
        -
          url: https://rehydrate.space/
          name: Rehydrate
    -
      text: Autocorrelation
      links:
        -
          name: Companion blog post that uses numbers in the explanation
          url: https://jimkang.com/weblog/articles/autocorrelation/
        -
          name: Why You Hear What You Hear
          url: https://www.worldcat.org/title/why-you-hear-what-you-hear-an-experiential-approach-to-sound-music-and-psychoacoustics/oclc/864824203&referer=brief_results
    -
      text: LLCs and legal insurance
      links:
        -
          url: https://cenkuslaw.com/llc-corporation-liability-protection/
          name: Does Forming an LLC or Corporation Fully Protect You From Liability?
        -
          url: https://www.mass.gov/info-details/massachusetts-law-about-homestead
          name: Massachusetts law about homestead
    -
      text: "Expedition with Alex 2: Crossing the bridge over Route 2"
seconds: 1459
layout: episode.njk
