---
layout: episode.njk
stuff:
  title: >
    Episode 23: Apple
  slug: apple
  season: 1
  number: 23
  date: 2021-10-04
  imageFilename: arkanoid.png
  findings:
    -
      text: Steve Jobs getting away with stuff, but in the '70s
      links:
        -
          name: A History of Video Games in 64 Objects
          url: https://www.worldvideogamehalloffame.org/about/history-video-games-64-objects
    -
      text: The indie dev tale of NanoStudio
      links:
        -
          name: NanoStudio 2
          url: https://blipinteractive.co.uk/nanostudio2/
        -
          name: Blip Interactive forum thread about Studio Drums
          url: https://www.blipinteractive.co.uk/community/index.php?p=/discussion/2096/nanostudio-2-1-2-now-available
  seconds: 1898
