---
layout: episode.njk
stuff:
  title: >
    Episode 18: Bells and Delay
  slug: bells-and-delay
  season: 1
  number: 18
  date: 2021-06-28
  imageFilename: st-john-wizard.jpg
  findings:
    -
      text: The Westminster Quarters
      links:
        -
          name: Wikipedia on the Westminster Quarters
          url: https://en.wikipedia.org/wiki/Westminster_Quarters
        -
          name: Joseph Fux's Gradus ad Parnassum
          url: https://en.wikipedia.org/wiki/Gradus_ad_Parnassum
        -
          name: Mars, Bringer of War
          url: https://archive.org/details/GustavHolstThePlanetsMarsTheBringerOfWar_201709
    -
      text: The perception of stereo delay effects on voice and instruments
  seconds: 1438
