---
layout: episode.njk
stuff:
  title: >
    Episode 22: Emu War
  slug: emu-war
  season: 1
  number: 22
  date: 2021-08-16
  imageFilename: emu.png
  findings:
    -
      text: The Great Emu War
      links:
        -
          name: Wikipedia
          url: https://en.wikipedia.org/wiki/Emu_War
        -
          name: Rogue
          url: https://en.wikipedia.org/wiki/Rogue_(video_game)
    -
      text: Audio signal modulation
      links:
        -
          name: My blog post about this
          url: https://jimkang.com/weblog/articles/miscellaneous-findings-008/
        -
          name: Talk box
          url: https://en.wikipedia.org/wiki/Talk_box
        -
          name: The Recurse Center
          url: https://recurse.com
        -
          name: Don't Panic, Colby's podcast
          url: https://dontpanic.io/
    -
      text: Vomit, the band from Norway
      links:
        -
          name: The Vomit demo compilation
          url: http://vomit.misantrof.net/
        -
          name: Their Metallum entry
          url: https://www.metal-archives.com/bands/Vomit/30736
        -
          name: Kittil Kittilson's entry
          url: https://www.metal-archives.com/artists/Kittil_Kittilsen/1118
        -
          name: Entombed's classic Left Hand Path
          url: https://entombedband.bandcamp.com/album/left-hand-path-full-dynamic-range-edition
  seconds: 2122
