---
layout: episode.njk
stuff:
  title: >
    Episode 21: Glaciers Are Long
  slug: glaciers-are-long
  season: 1
  number: 21
  date: 2021-08-04
  imageFilename: geikie_plateau_glacier.jpg
  findings:
    -
      text: Glaciers and the Milankovic Cycles
      links:
        -
          name: Moving to Higher Ground by John Englander
          url: https://www.worldcat.org/title/moving-to-higher-ground-rising-sea-level-and-the-path-forward/oclc/1249597522&referer=brief_results
        -
          name: "NASA: Milankovic Cycles"
          url: https://climate.nasa.gov/news/2948/milankovitch-orbital-cycles-and-their-role-in-earths-climate/
        -
          name: "NASA: Why Milankovic Cycles Can't Explain Earth's Current Warming"
          url: https://climate.nasa.gov/blog/2949/why-milankovitch-cycles-cant-explain-earths-current-warming/
    -
      text: Teaching is hard
      links:
        -
          name: Among Schoolchildren by Tracy Kidder
          url: https://www.tracykidder.com/among-schoolchildren.html
        -
          name: Soul of a New Machine by Tracy Kidder
          url: https://www.tracykidder.com/among-schoolchildren.html
        -
          name: The Student Who Got Away
          url: https://www.theatlantic.com/education/archive/2017/07/the-student-who-got-away/532791/
    -
      text: >
        Correction: Nassim Nicholas Taleb is actually incoherent
      links:
        -
          name: Episode 20, about how I thought his works were likely a good read
          url: https://jimkang.com/smallfindings/episodes/watercity
  seconds: 1496
