---
layout: episode.njk
stuff:
  title: >
    Episode 24: Hell Bent for Findings
  slug: hell-bent-for-findings
  season: 1
  number: 24
  date: 2021-11-08
  imageFilename: Robhalford03.jpg
  findings:
    -
      text: Guerilla art getting established
      links:
        -
          name: Futility Closet on Charging Bull
          url: https://www.futilitycloset.com/2021/11/05/free-enterprise-3/
        -
          name: Wikipedia on Arturo Di Modica
          url: https://en.wikipedia.org/wiki/Arturo_Di_Modica
        -
          name: Wikipedia on Fearless Girl
          url: https://en.wikipedia.org/wiki/Fearless_Girl
    -
      text: Hell Bent for Leather
      links:
        -
          name: Hell Bent for Leather lyrics
          url: http://www.darklyrics.com/lyrics/judaspriest/hellbentforleather.html#4
        -
          name: The Word Detective on the phrase
          url: http://word-detective.com/2009/10/hell-bent-for-leather/
        -
          name: Halford photo by André Banyai
          url: https://en.wikipedia.org/wiki/Rob_Halford#/media/File:Robhalford03.jpg
    -
      text: Between repetition and timbre
      links:
        -
          name: Bassoon sample from Carlos Vaquero
          url: https://freesound.org/people/Carlos_Vaquero/sounds/154330/
        -
          name: Chapter 2 of The Theory and Technique of Electronic Music
          url: http://msp.ucsd.edu/techniques/latest/book-html/node28.html
  seconds: 1717
