---
layout: episode.njk
stuff:
  title: >
    Episode 16: Incorrect Attributions
  slug: incorrect-attributions
  season: 1
  number: 16
  date: 2021-06-17
  imageFilename: wily-text.png
  findings:
    -
      text: What decibels actually are
      links:
        -
          name: "Computer Music: Synthesis, Composition, and Performance"
          url: https://www.worldcat.org/title/computer-music-synthesis-composition-and-performance/oclc/890574703/editions?editionsView=true&referer=br
        -
          name: Open Broadcaster System on the 0 dB digital audio convention
          url: https://obsproject.com/wiki/Understanding-the-Mixer#decibel-relative-to-full-scale-dbfs
    -
      text: Arneson and Gygax from Playing at the World
      links:
        -
          url: https://www.worldcat.org/title/playing-at-the-world-a-history-of-simulating-wars-people-and-fantastic-adventures-from-chess-to-role-playing-games/oclc/913109160/editions?editionsView=true&referer=br
          name: Playing at the World by Jon Peterson
        -
          url: https://playingattheworld.blogspot.com/
          name: Jon Peterson's blog
        -
          url: https://www.worldcat.org/title/hobby-games-the-100-best/oclc/938510443&referer=brief_results
          name: "Hobby Games: The 100 Best"
    -
      text: "Trusting cats' confidence"
      links:
        -
          url: https://commons.wikimedia.org/wiki/File:Panthera_onca_-sleeping_in_tree_-Belize_Zoo-8.jpg
          name: Image of a leopard sleeping in a tree by Michael Schamis via Wikimedia Commons
  seconds: 2021
