---
layout: episode.njk
stuff:
  title: >
    Episode 15: Light criminology
  slug: light-criminology
  season: 1
  number: 15
  date: 2021-05-31
  imageFilename: cuban-linx-featuring-sherlock-holmes.png
  findings:
    -
      text: Defeating bike locks
      links:
        -
          name: Your U-Lock Is Basically Worthless
          url: https://www.bloomberg.com/news/articles/2014-10-27/your-u-lock-is-basically-worthless-but-don-t-worry
        -
          name: A Kryptonite lock being cut with a bolt cutter
          url: https://www.youtube.com/watch?v=tId2j4O-z-Q
        -
          name: Someone car jacking open a Kryptonite lock
          url: https://www.youtube.com/watch?v=0-eOnzrI43Y
        -
          name: Kryptonite Anti-Theft Protection Offer matrix
          url: https://shop.kryptonitelock.com/atpo_landing_pages/register-for-anti-theft-en.html
    -
      text: Defeating laser printer DRM
      links:
        -
          url: https://www.consumerreports.org/printers/the-high-cost-of-wasted-printer-ink/
          name: Consumer Reports on inkjet ink's per gallon cost
        -
          url: https://www.youtube.com/watch?v=1X1ZvmYzp6Y
          name: How to move an HP laser printer cartridge chip
    -
      text: Sherlock Holmes and six-year-olds
      links:
        -
          name: Wikipedia
          url: https://en.wikipedia.org/wiki/Sherlock_Holmes
        -
          name: All Men Are Brothers
          url: https://en.wikipedia.org/wiki/Water_Margin
  seconds: 1637
