---
layout: episode.njk
stuff:
  title: >
    Episode 7: Master Hamfast
  slug: master-hamfast
  season: 1
  number: 7
  date: 2020-05-26
  imageFilename: lotr-reading.jpg
  findings:
    -
      text: Text findings
      links:
        -
          url: https://jimkang.com/weblog/articles/miscellaneous-findings-001/
          name: Miscellaneous Findings I (mostly about businesses)
        -
          url: https://jimkang.com/weblog/articles/miscellaneous-findings-002/
          name: Miscellaneous Findings II (video editing commands)
    -
      text: Regular and gravitational lensing
      links:
        -
          url: https://en.wikipedia.org/wiki/Lens
          name: Wikipedia lens article
        -
          url: https://en.wikipedia.org/wiki/Optical_telescope
          name: Wikipedia optical telescope article
        -
          url: https://www.planetary.org/blogs/guest-blogs/sharp-image-earth-like-exoplanet.html
          name: The Bold Plan to See Continents and Oceans on Another Earth
        -
          url: https://en.wikipedia.org/wiki/Gravitational_lens
          name: Wikipedia gravitational lens article
    -
      text: The anachronism and lightness in the beginning of the Lord of the Rings
    -
      text: The appeal of Lord of the Rings to five-year-olds
      links:
        -
          name: InvestiGators
          url: https://www.goodreads.com/book/show/44280873-investigators
        -
          name: Dog Man
          url: https://pilkey.com/series/dog-man
    -
      text: Burger seasoning
  seconds: 1522
