---
layout: episode.njk
stuff:
  title: >
    Episode 12: Pasta, Snuff, and Cats
  slug: pasta-snuff-and-cats
  season: 1
  number: 12
  date: 2020-12-31
  imageFilename: megawad.jpg
  findings:
    -
      text: Text findings
      links:
        -
          url: https://jimkang.com/weblog/articles/miscellaneous-findings-004/
          name: Miscellaneous Findings IV (web odd and ends)
        -
          url: https://jimkang.com/weblog/articles/miscellaneous-findings-005/
          name: Miscellaneous Findings V (the doings of servers)
    -
      text: How to make your own pasta and what it's like
      links:
        -
          url: https://playdoh.hasbro.com/en-us/product/play-doh-fun-factory-set:2DE0510A-5056-9047-F548-E6B3E3FFF561
          name: The Play-Doh Fun Factory (which I misrembered; it looks nothing like a pasta machine!)
        -
          url: https://en.wikipedia.org/wiki/Pasta#/media/File:Pasta_machine_2.jpg
          name: A picture of a real pasta machine
    -
      text: Snuff
      links:
        -
          name: The Arrow of God by Chinua Achebe
          url: https://www.worldcat.org/title/arrow-of-god/oclc/1033080
        -
          name: My post on the first book in the series that the Arrow of God is in
          url: https://jimkang.com/weblog/articles/things-fall-apart/
        -
          name: Wikipedia on Snuff
          url: https://en.wikipedia.org/wiki/Snuff_(tobacco)
    -
      text: Bonus Cat and Dr. Wily are actually right
      links:
        -
          url: https://www.wbur.org/news/2020/11/18/pets-anxiety-behaviors-barking-pandemic-veterinarian
          name: Dr. Borns-Weil on All Things Considered
  seconds: 1286
