---
layout: episode.njk
stuff:
  title: >
    Episode 14: Recumbent Findings
  slug: recumbent-findings
  season: 1
  number: 14
  date: 2021-05-24
  imageFilename: kk-recumbent.png
  findings:
    -
      text: Sun Ra in Alabama and Chicago
      links:
        -
          url: https://www.worldcat.org/title/space-is-the-place-the-lives-and-times-of-sun-ra/oclc/1204308846&referer=brief_results
          name: "Space Is The Place: The Lives and Times of Sun Ra by John F. Szwed"
    -
      text: Beverly Cleary in the 1930s
      links:
        -
          name: My Own Two Feet (autobiography)
          url: https://www.worldcat.org/title/my-own-two-feet/oclc/877899201/editions?editionsView=true&referer=br
    -
      text: How to evaluate air purifiers with Fred
      links:
        -
          name: Clean air delivery rate
          url: https://en.wikipedia.org/wiki/Clean_air_delivery_rate
    - text: "Footnote 1 from Fred: \"Regarding air filtration in commercial spaces, what I said was generally true for offices, commercial spaces, chemical labs, and medical spaces. Generally there's focus on air quality through outside air intake. However, there is a particular sector that focuses heavily on recirculated air filtration, and that's cleanrooms.\""
    - text: "Footnote 2 from Fred: \"The CADR to square foot ratio of 2/3 corresponds to 5 air changes per hour. That is to say, an air purifier in the recommended space for its CADR will filter all the air in the space five times per hour, or once every 12 minutes. The \"bad\" air purifier I mentioned has enough CADR to do 2 air changes per hour in its marketed space of 1100 square feet. It does say \"cleans the room in 30 minutes\" on its product web page but I wouldn't expect a lay person to know that that is below the AHAM's recommended air cleaning rate. If someone smoked a cigarette in a room and it took an air purifier 30 minutes to make the smell go away I would call that poor performance.\""
    -
      text: Fredrick Douglass on discussing slavery
      links:
        -
          url: https://play.acast.com/s/history-of-ideas/douglassonslavery
          name: History of Ideas episode
        -
          url: http://www.gutenberg.org/files/202/202-h/202-h.htm
          name: My Bondage and My Freedom on gutenberg
    -
      text: Adam Buxton discusses making jingles with found music
      links:
        -
          url: https://tapenotes.co.uk/project/tn66-adam-buxton
          name: Adam Buxton Tape Notes episode
  seconds: 1929
