---
layout: episode.njk
stuff:
  title: >
    Episode 6: Reevaluating Dirrty Puff
  slug: reevaluating-dirrty-puff
  season: 1
  number: 6
  date: 2020-05-18
  imageFilename: dirrty-puff.jpg
  findings:
    -
      text: Parchment paper and pizza
      links:
        -
          url: https://en.wikipedia.org/wiki/Parchment_paper
          name: Wikipedia on parchment paper
        -
          url: https://www.cooksillustrated.com/how_tos/5858-can-you-heat-parchment-paper-higher-than-manufacturers-recommend
          name: Can You Heat Parchment Paper Higher Than Manufacturers Recommend?
    -
      text: How restaurants are affected by the practices of delivery companies
      links:
        -
          url: https://www.universalhub.com/2020/boston-officials-restaurant-delivery-companies-do
          name: Universal Hub on the Boston City Council hearing about delivery companies
        -
          url: https://www.nytimes.com/2020/05/15/podcasts/the-daily/virus-louisiana-reopening.html
          name: "The Daily: Reopening, Warily"
        -
          url: https://en.wikipedia.org/wiki/Foodler
          name: Wikipedia on Foodler
        -
          url: https://learn.grubhub.com/wp-content/uploads/2018/08/Grubhub_One-Pager_Pricing-Overview_Final.pdf
          name: GrubHub pricing overview (PDF)
        -
          url: https://restaurants.ubereats.com/us/en/pricing/
          name: Uber Eats pricing
        -
          url: https://www.eater.com/2015/7/31/9074491/postmates-delivery-problems
          name: "The Postmates Problem: Why Some Restaurants Are Forced to Fight the Delivery App"
        -
          url: https://www.buzzfeednews.com/article/venessawong/grubhub-phone-order-call-fee-coronavirus
          name: "Even If You're Trying To Avoid Grubhub By Calling Your Favorite Restaurant Directly, Grubhub Could Still Be Charging It A Fee"
        -
          url: https://www.latimes.com/business/la-fi-grubhub-cybersquatting-20190702-story.html
          name: Facing fury over ‘fake websites,’ Grubhub says restaurants have it wrong
        -
          url: https://www.bloomberg.com/news/articles/2020-04-13/grubhub-doordash-among-delivery-services-facing-antitrust-suit
          name: GrubHub, Doordash Accused in Suit of Pushing Prices Higher
        -
          url: https://www.eater.com/2019/10/30/20940107/grubhub-to-add-restaurants-without-permission-like-postmates
          name: GrubHub to add restaurants without permission
        -
          url: https://www.eater.com/2020/1/29/21113416/grubhub-seamless-kin-khao-online-delivery-mistake-doordash
          name: "‘We Don’t Even Do Takeout’: Why, Then, Is This Restaurant on Seamless?"
        -
          url: https://www.cnbc.com/2020/05/13/nyc-city-council-votes-to-cap-app-delivery-fees-at-15percent.html
          name: New York City Council votes to cap food-delivery app fees at 15% during states of emergency
    -
      text: The secret of Pasqually's
      links:
        -
          url: https://www.foodandwine.com/news/local-restaurant-on-delivery-app-actually-chuck-e-cheese-pasquallys
          name: Trying to Support a Local Pizza Joint? Just Make Sure It Isn't Actually Chuck E. Cheese
        -
          name: Hot Garbage
          url: https://tinyletter.com/hot-garbage
    -
      text: The surprising power of puffy cats
      links:
        -
          url: https://smidgeo.com/daily-mrrp/daily-mrrp-hUZBaHai.html
          name: Bonus Cat, undeterred in 2020
        -
          url: https://www.flickr.com/photos/8794607@N08/3558256129/
          name: Dirrty Puff in 2009
  seconds: 1501
