---
layout: episode.njk
stuff:
  title: >
    Episode 17: Sandwich Spread
  slug: sandwich-spread
  season: 1
  number: 17
  date: 2021-06-17
  imageFilename: wily-tablet-edit.png
  findings:
    -
      text: Similarities between recording a computer playing music and recording a human playing music
      links:
        name: Episode 13 on repeating random decisions (at about the 7:00 mark)
        url: https://jimkang.com/smallfindings/episodes/who-is-the-robot-now
    -
      text: More from Beverly Cleary's autobiography My Own Two Feet
      links:
        -
          name: My Own Two Feet (autobiography)
          url: https://www.worldcat.org/title/my-own-two-feet/oclc/877899201/editions?editionsView=true&referer=br
        -
          name: Smudge pots
          url: https://en.wikipedia.org/wiki/Smudge_pot
        -
          name: Telegram service level in the 1930s
        -
          name: "Engineer stereotypes in the '30s"
        -
          name: A sandwich spread recipe (the deluxe kind, with bologna)
          url: https://www.allrecipes.com/recipe/32133/sandwich-spread/
        -
          name: Boarding houses
          url: https://en.wikipedia.org/wiki/Boarding_house
        -
          name: "Library schools and attitude grading in the '30s"
        -
          name: Beverly Cleary's first book deal
    -
      text: Bands' messages and politicians
      links:
        -
          name: NOFX lost their beer deal
          url: https://www.sfgate.com/bars/article/Stone-Brewing-nofx-cut-ties-punk-in-drublic-12957386.php
        -
          name: Rage Against the Machine's response to Paul Ryan being a fan
          url: https://www.rollingstone.com/politics/politics-news/tom-morello-paul-ryan-is-the-embodiment-of-the-machine-our-music-rages-against-246033/
        -
          name: NPR on Napalm Death and the president of Indonesia
          url: https://www.npr.org/sections/parallels/2015/02/20/387760489/indonesias-president-fan-of-megadeth-defender-of-death-penalty
        -
          name: Harmony Corruption, a great Napalm Death album reported to have been huge in Indonesia
          url: https://napalmdeath.bandcamp.com/album/harmony-corruption-remastered
  seconds: 1783
