---
date: 2020-04-09
stuff:
  title: >
    Episode 2: Still eruption columns
  slug: still-eruption-columns
  season: 1
  number: 2
  date: 2020-04-09
  imageFilename: nonyptych-part-8.jpg
  summary: "
    Findings this week on: why eruption columns look still, volcanic lightning, excessive daytime sleepiness, memory's dependence on sleep, black beans and coffee, bread and grape resurrections, the CARES act signing statement, undoing paint, Zoom, Audm, Wistia, how hurt the ad business is, and MRRP!\\n
  Email me any findings your want to share (or questions) at smallfindings@fastmail.com !\\n
  Here are the links mentioned in the episode:\\n
  - Brownpau's Taal post: https://hownow.brownpau.com/archives/2020/03/taal-eruption\\n
  - Popular Science on lab-grown volcanic lightning: https://www.popsci.com/where-does-volcano-lightning-come/\\n
  - Excessive Daytime Sleepiness: https://en.wikipedia.org/wiki/Excessive_daytime_sleepiness\\n
  - The Atlantic on sleep and stress: https://www.theatlantic.com./health/archive/2013/12/why-some-people-respond-to-stress-by-falling-asleep/282422/\\n
  - Bread resurrection: https://www.bonappetit.com/test-kitchen/cooking-tips/article/how-to-revive-stale-bread\\n
  - Signing statement: https://www.whitehouse.gov/briefings-statements/statement-by-the-president-38/\\n
  - NYT on the coronavirus impact on advertising: https://www.nytimes.com./2020/04/03/business/media/ads-commercials-coronavirus.html"
  seconds: 1648
layout: episode.njk
