---
date: 2020-04-09
stuff:
  title: >
    Episode 2: Still eruption columns
  slug: still-eruption-columns
  season: 1
  number: 2
  date: 2020-04-09
  imageFilename: nonyptych-part-8.jpg
  findings:
    -
      text: Why eruption columns look still
      links:
        -
          name: brownpau's Taal post
          url: https://hownow.brownpau.com/archives/2020/03/taal-eruption
    -
      text: Volcanic lightning
      links:
        -
          name: Popular Science on lab-grown volcanic lightning
          url: https://www.popsci.com/where-does-volcano-lightning-come/
    -
      text: Excessive daytime sleepiness
      links:
        -
          name: Wikipedia article
          url: https://en.wikipedia.org/wiki/Excessive_daytime_sleepiness
    -
      text: Memory's dependence on sleep
      links:
        -
          name: The Atlantic on sleep and stress
          url: https://www.theatlantic.com./health/archive/2013/12/why-some-people-respond-to-stress-by-falling-asleep/282422/
    -
      text: Black beans and black coffee
    -
      text: Bread and grape resurrections
      links:
        -
          name: "Bon Appetit: How to revive stale bread"
          url: https://www.bonappetit.com/test-kitchen/cooking-tips/article/how-to-revive-stale-bread
    -
      text: The CARES act signing statement
      links:
        -
          name: Trump's signing statement
          url: https://www.whitehouse.gov/briefings-statements/statement-by-the-president-38/
    -
      text: Undoing paint
    -
      text: Zoom
    -
      text: Audm
    -
      text: Wistia
    -
      text: The coronavirus impact on the ad industry
      links:
        -
          name: "NYT: The impact of the coronavirus on advertising"
          url: https://www.nytimes.com./2020/04/03/business/media/ads-commercials-coronavirus.html

    -
      text: MRRP!
  seconds: 1648
layout: episode.njk
