---
layout: episode.njk
stuff:
  title: >
    Episode 2: Still eruption columns
  slug: still-eruption-columns
  season: 1
  number: 2
  date: 2020-04-09
  imageFilename: nonyptych-part-8.jpg
  findings:
    -
      text: The CARES act signing statement
      links:
        -
          name: Trump's signing statement
          url: https://www.whitehouse.gov/briefings-statements/statement-by-the-president-38/
    -
      text: Undoing paint
    -
      text: Zoom
    -
      text: Audm
    -
      text: Wistia
    -
      text: The coronavirus impact on the ad industry
      links:
        -
          name: "NYT: The impact of the coronavirus on advertising"
          url: https://www.nytimes.com./2020/04/03/business/media/ads-commercials-coronavirus.html
    -
      text: Black beans and black coffee
    -
      text: Bread and grape resurrections
      links:
        -
          name: "Bon Appetit: How to revive stale bread"
          url: https://www.bonappetit.com/test-kitchen/cooking-tips/article/how-to-revive-stale-bread

    -
      text: MRRP!
  seconds: 1648
