---
date: 2020-05-11
stuff:
  title: >
    Episode 5: The Devil's Ghost
  slug: the-devils-ghost
  season: 1
  number: 5
  date: 2020-05-11
  imageFilename: nonyptych-part-9.jpg
  findings:
    -
      text: How to paint black without actually using black, from Sam
      links:
        -
          name: Sam's site
          url: http://www.sambrelsfoard.com/
    -
      text: The Witch of Endor
      links:
        -
          name: Wikipedia
          url: https://en.wikipedia.org/wiki/Witch_of_Endor
        -
          url: https://londonplague.com/
          name: The Visitation, a podcast about the Plague in London
        -
          name: "Purcell: Funeral Sentences for the Death of Queen Mary II Z27 : I March"
          url: https://open.spotify.com/track/5aaE8zSJssdYLXQuZV51UZ
        -
          name: "Purcell: Saul and the Witch of Endor, Z. 134: \"In guilty night\""
          url: https://open.spotify.com/track/3BPuiCGJOIgQtgy5Qzy7uU
    -
      text: Surprising businesses I stumbled upon in Cambridge
      links:
        -
          name: Adaptive Surface Technologies COVID-19 response
          url: https://adaptivesurface.tech/covid-19-response/
        -
          name: Sky & Telescope
          url: https://skyandtelescope.org/
        -
          name: Smithsonian Astrophysical Observatory on Wikipedia
          url: https://en.wikipedia.org/wiki/Smithsonian_Astrophysical_Observatory
        -
          url: https://minorplanetcenter.net/
          name: Minor Planet Center
    -
      text: Magnetars
      links:
        -
          url: https://skyandtelescope.org/astronomy-news/milky-way-magnetar-makes-fast-radio-burst/
          name: Milky Way Magnetar Makes Fast Radio Burst
        -
          url: http://www.astronomerstelegram.org/?read=13684
          name: Independent detection of the radio burst reported in ATel #13681 with STARE2
    -
      text: CDNs
    -
      text: The thing at the end of the faucet
      links:
        -
          url: https://en.wikipedia.org/wiki/Faucet_aerator
          name: Faucet aerator
        -
          url: https://www.wordnik.com/words/redux
          name: Redux
seconds: 1077
layout: episode.njk
