---
date: 2020-06-25
stuff:
  title: >
    Episode 8: Then and Now
  slug: then-and-now
  season: 1
  number: 8
  date: 2020-06-25
  imageFilename: nonyptych-part-1.jpg
  findings:
    -
      text: Polio
      links:
        -
          url: https://en.wikipedia.org/wiki/Polio
          name: Wikipedia on Polio
        -
          url: https://www.lrb.co.uk/the-paper/v42/n09/patrick-cockburn/diary
          name: The 1956 Polio Epidemic
        -
          url: https://www.nature.com/articles/nrmicro3125
          name: Fooling the coronavirus proofreading machinery
    -
      text: "White people closing ranks around atrocities, then and now"
      links:
        -
          url: https://www.nytimes.com/2020/05/11/podcasts/the-daily/ahmaud-arbery-killing.html
          name: The Shooting of Ahmaud Arbery
        -
          url: https://en.wikipedia.org/wiki/Emmett_Till
          name: Emmett Till on Wikipedia
        -
          url: https://www.theguardian.com/us-news/2020/jun/18/hundreds-armed-counter-protesters-confront-black-lives-matter-event-bethel-ohio
          name: Hundreds of armed counter-protesters confront Black Lives Matter rally in Ohio
        -
          url: https://www.npr.org/2020/06/04/869938461/white-defendant-allegedly-used-racial-slur-after-killing-ahmaud-arbery
          name: White Defendant Allegedly Used Racial Slur After Killing Ahmaud Arbery
        -
          url: https://www.nytimes.com/article/satilla-shores-ahmaud-arbery-killing.html
          name: Where Ahmaud Arbery Ran, Neighbors Cast Wary Eyes
    -
      text: The Cambridge Police
      links:
        -
          url: https://www.universalhub.com/2020/cambridge-police-superintendent-owns-spewing-about
          name: https://www.universalhub.com/2020/cambridge-police-officer-faces-discipline
        -
          url: http://www.cambridgeday.com/2020/05/19/denied-official-report-of-police-tweet-discipline-councillors-issue-their-own-censure-for-incident/
          name: Denied official report of police tweet discipline, councillors issue their own censure for incident
        -
          url: https://www.cambridgeday.com/2020/06/10/motion-over-redirecting-4-1m-in-police-funding-causes-council-to-explode-in-anger-accusations/
          name: Motion over redirecting $4.1M in police funding causes council to explode in anger, accusations - Cambridge Day
        -
          url: http://www.cambridgeday.com/2020/06/23/councillor-stalls-order-to-see-police-property-list-citing-systemic-racism-over-checking-testimony/
          name: Councillor stalls order to see police property list, citing 'systemic racism' over checking testimony
        -
          url: http://www.cambridgeday.com/2020/06/21/two-thousand-march-with-call-to-defund-police-councils-4-1m-order-called-drop-in-the-bucket/
          name: March to defund the police in Cambridge
seconds: 1555
layout: episode.njk
