---
date: 2020-05-04
stuff:
  title: >
    Episode 4: There's gotta be a better way
  slug: theres-gotta-be-a-better-way
  season: 1
  number: 4
  date: 2020-05-04
  imageFilename: fire-dog.jpg
  findings:
    -
      text: The hardest part of making pizza
      links:
        -
          name: The other episode with a segment on pizza
          url: https://jimkang.com/smallfindings/episodes/what-is-small-findings
    -
      text: Why stock buybacks matter
      links:
        -
          name: Wikipedia
          url: https://en.wikipedia.org/wiki/Share_repurchase
        -
          url: https://www.nytimes.com/interactive/2020/03/27/opinion/coronavirus-bailout.html
          name: These Companies Enriched Themselves. Now They’re Getting a Bailout.
    -
      text: Amazon and labor
      links:
        -
          name: Amazon is reportedly using a heat map to track stores at risk of unionization
          url: https://www.theverge.com/2020/4/20/21228324/amazon-whole-foods-unionization-heat-map-union
        -
          name: Amazon executives privately insulted a warehouse worker, then attacked him on Twitter
          url: https://www.theverge.com/2020/4/2/21206108/amazon-chris-smalls-warehouse-strike-nyc-jay-carney-bernie-sanders-coronavirus-safety
        -
          name: Amazon warehouse workers walk out in rising tide of COVID-19 protests
          url: https://www.theverge.com/2020/3/30/21199942/amazon-warehouse-coronavirus-covid-new-york-protest-walkout
        -
          name: Amazon's "Brazil" office
          url: https://foursquare.com/v/amazon--brazil/55f1cbf7498e537abaf8daf0/photos
        -
          name: "Leaked Amazon Memo Details Plan to Smear Fired Warehouse Organizer: ‘He’s Not Smart or Articulate’"
          url: https://www.vice.com/en_us/article/5dm8bx/leaked-amazon-memo-details-plan-to-smear-fired-warehouse-organizer-hes-not-smart-or-articulate
        -
          url: https://www.theguardian.com/technology/2019/oct/17/amazon-warehouse-worker-deaths
          name: "'Go back to work': outcry over deaths on Amazon's warehouse floor"
        -
          url: https://www.revealnews.org/article/that-should-not-be-happening-amazon-warehouses-serious-injury-rates-more-than-double-industry-average/
          name: ‘That should not be happening’ – Amazon warehouses’ serious injury rates more than double industry average
        -
          name: VP Tim Bray quits Amazon in response to Amazon firing protesting workers (Discovered after the podcast was recorded)
          url: https://www.tbray.org/ongoing/When/202x/2020/04/29/Leaving-Amazon
    -
      text: How Testament records an album
      links:
        -
          name: Titans of Creation
          url: https://open.spotify.com/album/63dZKnLfVsHItoygbM7IJK
        -
          name: Interview about recording Titans of Creation
          url: https://open.spotify.com/album/6f0eFqq1NRdnQaTaqWp0EK
    -
      text: Existential risk
      links:
        -
          name: We have the power to destroy ourselves without the wisdom to ensure that we don't
          url: https://www.edge.org/conversation/toby_ord-we-have-the-power-to-destroy-ourselves-without-the-wisdom-to-ensure-that-we
        -
          url: https://www.existential-risk.org/concept.html
          name: Existential Risk Prevention as Global Priority
  seconds: 1190
layout: episode.njk
