---
layout: episode.njk
stuff:
  title: >
    Episode 20: Watercity
  slug: watercity
  season: 1
  number: 20
  date: 2021-07-19
  imageFilename: waterpark.jpg
  findings:
    -
      text: Watertown's true name and the forms of municipal government in Massachusetts
      links:
        -
          name: Article LXXXIX of the Articles of Amendment to the Constitution of the Commonwealth of Massachusetts, about town and city forms of government
          url: https://malegislature.gov/Laws/Constitution#amendmentArticleLXXXIX
        -
          name: City or Town of Watertown – Charter Review Committee Weighs in on That & Other Proposed Changes
          url: https://www.watertownmanews.com/2021/07/12/city-or-town-of-watertown-charter-review-committee-weighs-in-on-that-other-proposed-changes/
    -
      text: How speakers make vibrations
    -
      text: Poirot and his similarities to Sherlock Holmes
    -
      text: >
        Correction: Even more people can hear delay on the vibraphone!
      links:
        -
          name: Episode 18, about delay on vibraphone and voices
          url: https://jimkang.com/smallfindings/episodes/bells-and-delay/
    -
      text: >
        Correction: Nassim Nicholas Taleb is not a student
      links:
        -
          name: Wikipedia
          url: https://en.wikipedia.org/wiki/Nassim_Nicholas_Taleb
        -
          name: Episode 19, with the finding about Bitcoin's unsuitability as a currency
          url: https://jimkang.com/smallfindings/episodes/weird-animal-sounds
    -
      text: RealPlayer still exists
      links:
        -
          name: real dot com
          url: https://www.real.com/
    -
      text: "Atari"
      links:
        -
          name: Wikipedia on Atari SA
          url: https://en.wikipedia.org/wiki/Atari_SA
    -
      text: WordPerfect
      links:
        -
          name: wordperfect.com
          url: https://www.wordperfect.com/
  seconds: 1389
