---
layout: episode.njk
stuff:
  title: >
    Episode 19: Weird Animal Sounds
  slug: weird-animal-sounds
  season: 1
  number: 19
  date: 2021-07-05
  imageFilename: catbird.jpg
  findings:
    -
      text: Catbirds
      links:
        -
          name: Wikipedia
          url: https://en.wikipedia.org/wiki/Catbird
        -
          name: Episode image from PxHere
          url: https://pxhere.com/fr/photo/609286
    -
      text: Posting to Bandcamp
      links:
        -
          name: Bandcamp artist guide
          url: https://bandcamp.com/guide
        -
          name: The Sound of the Far Future on Bandcamp
          url: https://jimkang.bandcamp.com/album/the-sound-of-the-far-future
    -
      text: >
        Correction: Some people can hear delay on the vibraphone!
      links:
        -
          name: Episode 18, about delay on vibraphone and voices
          url: https://jimkang.com/smallfindings/episodes/bells-and-delay/
    -
      text: Grasshopper group sounds
    -
      text: Bitcoin's unsuitability as a currency
      links:
        -
          name: Bitcoin, Currencies, and Fragility
          url: https://www.academia.edu/49313911/Bitcoin_Currencies_and_Fragility
        -
          name: Bretton Woods
          url: https://en.wikipedia.org/wiki/Bretton_Woods_system
        -
          name: Cryptocurrenices use a lot of energy
          url: https://www.nytimes.com/2021/04/14/climate/coinbase-cryptocurrency-energy.html
  seconds: 1234
