---
title: >
  Episode 1: What is Small Findings? Also painting darkness, mice handedness, and stimulus.
slug: what-is-small-findings
season: 1
number: 1
date: 2020-03-28
imageFilename: cat-chair.jpg
summary: "
  Findings this week are Woodrow Wilson being weak on sharks, Painting lots of darkness, &lt;script&gt; tags as elements, Hot water gaskets, mouse handedness, lap desks, pizza dough, pizza sausage, and the coronavirus stimulus package.\\n
Email me any findings your want to share (or questions) at smallfindings@fastmail.com !\\n
Here's the executive raise limit formula for companies that take stimulus assistance: (current pay - $3 million)/2 + $3 million. (The / means \"divided by\" there.)"
seconds: 1285
---
Hey, what is this part?
