---
date: 2020-04-27
stuff:
  title: >
    Episode 3: When there's lightning
  slug: when-theres-lightning
  season: 1
  number: 3
  date: 2020-04-27
  imageFilename: nonyptych-part-5.jpg
  findings:
    -
      text: The basics of China's economic model
      links:
        -
          name: A spectre is haunting the West — the spectre of authoritarian capitalism
          url: https://www.opendemocracy.net/en/oureconomy/a-spectre-is-haunting-the-west-the-spectre-of-authoritarian-capitalism/
    -
      text: Harvard's endowment
      links:
        -
          name: Harvard announces salary and hiring freezes
          url: https://www.thecrimson.com/article/2020/4/14/harvard-coronavirus-hiring-salary-freeze/
    -
      text: What's involved in an ICU
      links:
        -
          name: How to set up an ICU
          url: https://www.lrb.co.uk/the-paper/v42/n08/lana-spawls/how-to-set-up-an-icu
    -
      text: Conspiracy theories
      links:
        -
          name: Conspiracy and Democracy
          url: http://www.conspiracyanddemocracy.org/
        -
          name: John Naughton's quarantine diary
          url: https://memex.naughtons.org/saturday-18-april-2020/29340/
        -
          name: Jair Bolsonaro claims NGOs behind Amazon forest fire surge – but provides no evidence
          url: https://www.theguardian.com/world/2019/aug/21/jair-bolsonaro-accuses-ngos-setting-fire-amazon-rainforest
        -
          name: Brussels accuses Orbán of peddling conspiracy theory with Juncker poster
          url: https://www.theguardian.com/world/2019/feb/19/brussels-orban-jean-claude-juncker-poster-george-soros-hungary
        -
          name: Ruling party blames Muslims for spreading the coronavirus, would-be autocrats use Covid-19 as an excuse to grab power
          url: https://www.economist.com/international/2020/04/23/would-be-autocrats-are-using-covid-19-as-an-excuse-to-grab-more-power
    -
      text: Volcanic lightning
      links:
        -
          name: brownpau on Taal
          url: https://hownow.brownpau.com/archives/2020/03/taal-eruption

        -
          name: Lava fountain times
          url: https://www.gmanetwork.com/news/scitech/science/721936/taal-volcano-spews-lava-fountains/story/
        -
          name: Popular Science on volcanic lightning
          url: https://www.popsci.com/where-does-volcano-lightning-come/
        -
          name: "Popular Mechanics: How to stir up lightning in a lab"
          url: https://www.popularmechanics.com/science/environment/a9885/how-to-stir-up-volcanic-lightning-in-a-lab-16266258/
        -
          name: Wikipedia on Taal's 2020 eruption
          url: https://en.wikipedia.org/wiki/2020_Taal_Volcano_eruption
        -
          name: Rappler's Taal eruption timeline
          url: https://www.rappler.com/newsbreak/iq/249503-timeline-taal-volcano-eruption-2020
    -
      text: Space elevators
      links:
        -
          name: Sky Line, a documentary from 2015
          url: https://www.kanopy.com/product/sky-line
        -
          name: Wikipedia
          url: https://en.wikipedia.org/wiki/Space_elevator
  seconds: 1190
layout: episode.njk
