---
layout: episode.njk
stuff:
  title: >
    Episode 13: Who Is the Robot Now?
  slug: who-is-the-robot-now
  season: 1
  number: 13
  date: 2021-01-25
  imageFilename: hill-GPauGlQx.png
  findings:
    -
      text: Getting paid for art, submitting the work of bots to calls for art
      links:
        -
          url: https://allisontanenhaus.com/
          name: Allison Tanenhaus, glitch artist
        -
          url: https://www.codaworx.com/
          name: Codaworx (art broker)
        -
          url: http://ralcompanies.com/projects/1300-fairmount/
          name: RAL Companies and Affiliates LLC's Fairmont Ave condo
        -
          url: https://smidgeo.com/bots/hills
          name: Hills bot
        -
          url: https://github.com/jimkang/hills/commit/986ddd51d436fb05cf8bbcb3326788762ae593d2#diff-e07d531ac040ce3f40e0ce632ac2a059d7cd60f20e61f78268ac3be015b3b28fR152
          name: Code to make Hills bot create a specific set of hills
        -
          url: https://smidgeo.com/bots/slopcube/
          name: Slop Cube (the bot whose work was turned down)
        -
          url: https://smidgeo.com/bots
          name: My other bots
    - text: How to repeat random decisions
    - text: SVG
    - text: How NOT to replace Roomba tires
    -
      text: The name Seph
      links:
        -
          name: The post on josephg.com
          url: https://josephg.com/blog/crdts-are-the-future/
    -
      text: Filamentation
      links:
        -
          name: Wikipedia on Filamentation
          url: https://en.wikipedia.org/wiki/Filamentation
    -
      text: CRLF and minified JavaScript
  seconds: 1440
